<div class="edit_form">
  <%= form_for @user, :html => {novalidate: false, class: "form-inline edit_user", id: "edit_user"}, :url => { :action => "update" } do |f| %>
    <%= f.text_field :first_name, :value => @user.first_name, :placeholder => "First Name", :class => "input first_name form-inline" %>
    <%= f.text_field :last_name, :value => @user.last_name, :placeholder => "Last Name", :class => "input last_name form-inline" %>
    <%= f.text_field :dob, :value => @user.dob, :placeholder => "Date of Birth MM/YY", :class => "input age form-inline" %>
    <%= f.text_field :street_address, :value => @user.street_address, :placeholder => "Street Address", :class => "input address form-inline" %>
    <%= f.text_field :city, :value => @user.city, :placeholder => "City", :class => "input city form-inline" %>
    <%= f.text_field :state, :value => @user.state, :placeholder => "State", :class => "input state form-inline" %>
    <%= f.text_field :zip, :value => @user.zip, :placeholder => "ZIP", :class => "input zip form-inline" %>
    <%= f.text_field :occupation, :value => @user.occupation, :placeholder => "Occupation", :class => "input occupation form-inline" %>
    <%= f.select :how_long, options_for_select([['I just heard about it','I just heard about it'],['A few months','A few months'],['6+ months','6+ months'],['About a year','About a year'],['Over a year','Over a year'],['2+ years','2+ years'],['I\'ve been a loyal fan from the start','I\'ve been a loyal fan from the start']], params[:how_long]) {}, prompt: "How long have you been reading Verily?", :class => 'my_style_class' %>
    <!-- # :value => @user.how_long, :placeholder => "How long have you been reading Verily?", :class => "input how_long form-inline" %> -->
    <%= f.select :how_heard, options_for_select([['Someone invited me via the VIP program','Someone invited me via the VIP program'],['A friend shared an article','A friend shared an article'],['I heard about it via a podcast','I heard about it via a podcast'],['I read an article about it','I read an article about it'],['I saw an ad on social media','I saw an ad on social media'],['I came across it on Instagram','I came across it on Instagram']], params[:how_heard]) {}, prompt: "How did you learn about Verily?" %>
    <!-- <%= f.text_field :how_heard, :value => @user.how_heard, :placeholder => "How did you learn about Verily?", :class => "input how_heard form-inline" %> -->
    <%= f.text_field :email, :value => @user.email, :placeholder => "Enter your email", :class => "email input form-inline" %>
    <input class="form-group submit form-inline" name="commit" type="submit" value="SUBMIT" />
  <% end %>
</div>
