<section id='edit'>
  <div class='verily_logo'>
    <%= image_tag "verily_logo.png" %>
    <p class='vip'>vip</p>
  </div>
  <div class="hero">
    <div class="share-wrap">
      <p class="title proxima edit-page-title">SIGN UP!<br><span class="underline">&nbsp &nbsp &nbsp</span></p>
    </div>
    <% if flash[:notice] %>
      <div class="sus-notice signup-notice" style="position: absolute;"><%= flash[:notice] %></div>
    <% end %>
  </div>



  <%= render "user_details" %>

  <!-- <div class="buttons">
      <%= link_to "MY ACCOUNT", user_path(@user.id) if @user %>
      <%= link_to "MY REWARDS", refer_a_friend_url if @user %>
      <%= link_to "FAQ", "faq.html" %>
  </div> -->

</section>
