<section id='faq'>
  <div class="hero-ori faq-hero-ori">
    <div class='verily_logo faq-logo'>
      <%= image_tag "verily_logo.png" %>
      <p class='vip faq-vip'>vip</p>
    </div>
    <h1 class="cover-title faq-title">All the Answers<br><span class="underline">&nbsp; &nbsp;</span></h1>
  </div>
  <div class="faq-box">
    <h1>What do Verily VIPS do?</h1>
    <p>VIPS (“<i>Verily</i> Important People”—yeah, we love our wordplay!) are people just like you who love <i>Verily</i> and want to share our articles. You’re probably doing this anyway, so why not get rewarded for it?</p>

    <h1>What do Verily VIPS get in return for spreading the word?</h1>
    <p>Once you have got at least five people to sign up to our newsletter via your unique link, you’ll become a fully-fledged <i>Verily</i> VIP. You’ll be invited to join the closed <i>Verily</i> VIP Facebook group, where we’ll give you exclusive news about <i>Verily</i> including invitations to special VIP events, the chance to give feedback and get involved behind-the-scenes at <i>Verily</i>. For every extra five people who you get to sign up to the mailing list after this, you earn yourself another piece of beautiful <i>Verily</i> swag (think journals, tote bags, and an inspirational Daily Dose print). Click here [<a href="/swag">LINK!</a>] to see the rewards you could earn for yourself!</p>

    <h1>How can I become a Verily VIP?</h1>
    <p>After creating a profile on this website (it only takes a few minutes), you’ll be given a unique link that you can  share with your networks by posting on social media, emailing your friends and family, linking from your blog—you name it. You can track your progress here, and you can start sharing <i>Verily</i> in your own time as soon as you’d like to get started.</p>

    <h1>I don't live in the States, can I still be a VIP?</h1>
    <p>Yes, we would love for you to be part of this community! However, unfortunately as a small business based in the USA we aren’t currently able to ship anything overseas. If you earn some swag and are willing to pay for the shipping cost, please feel free to send us an email at vips@verilymag.com and we can arrange that. We will let you know if this situation changes in the future, and thank you for your understanding and patience!</br>
    </br>
      For all of our International friends who still want to be a part of the VIP community even though we can’t ship you swag, we have a lot of exciting online opportunities planned, so we think it's still totally worth becoming a VIP.</p>

    <h1>Where can I share Verily?</h1>
    <p>You can share your unique referral link (generated in your user area) with anyone you like through your social network, by email, through your blog, or by signing people up with your referral link, as long as they agree to being signed up.</p>

    <h1>What should I say when I introduce Verily?</h1>
    <p>If you need some inspiration, here’s how we introduce ourselves: <i>Verily</i> is a Photoshop-free women’s lifestyle site that’s “less of who you should be, more of who you are.” Our mission is to inspire women to be the best versions of themselves by starting a fresh conversation about what it means to be 21st-century women leading authentically empowered lives. We publish insightful and relatable articles on everything from fashion and beauty to relationships, healthy living, and popular culture and news. We champion diverse beauty with our no-Photoshop policy, aiming to show everyone at their best while also firmly believing that “your best” is not “a work of fiction.” We’ve been featured on Upworthy, the <i>Huffington Post</i>, the <i>New York Post</i>, LeanIn.org, and more.</p>

    <h1>Is anything “against the rules”?</h1>
    <p>Signing people up without their permission, signing up fake email addresses, or purchasing email addresses and signing them up are all big no-nos. If you don’t follow these guidelines, not only will you risk being removed from the <i>Verily</i> VIP program, but it will also cause some serious spam issues for our email list. Not good!</p>

    <h1>What should I do if I experience technical problems?</h1>
    <p>If this website isn’t working, please email vips@verilymag.com.</p>

  </div>

  <div class="faq_thank_you">
    Thank you for supporting Verily!
  </div>


  <div class='signup_forms'>
    <% if Rails.application.config.ended %>
      <%= render "users/campaign_ended" %>
    <% else %>
      <div class='signup_form_wrapper'>
        <p class='ready'>Ready to Join?</p>
        <div id='form-wrapper_1' class='<%= "ended" if Rails.application.config.ended %>'>
          <%= render "users/campaign_ongoing" %>
        </div>
      </div>
      <div class='signup_form_wrapper'>
        <p class='ready already'>Already a VIP?</p>
        <div id='form-wrapper_2'>
          <%= render "users/campaign_login" %>
        </div>
        <% if flash[:notice] %>
          <div class="notice"><%= flash[:notice] %></div>
        <% end %>
      </div>
    <% end %>
  </div>


    <div class="buttons">
      <%= link_to "BACK TO VERILY", root_url %>
    </div>
</section>
