<section id='main'>
  <div class='verily_logo'>
    <%= image_tag "verily_logo.png" %>
    <p class='vip'>vip</p>
  </div>
  <div class='cover'>
    <div class='text_box'>
      <h1 class='cover-title welcome-fans'>Welcome, Verily Fans!<br/><span class="underline">&nbsp &nbsp</span></h1>
      <h3 class='cover-subtitle welcome-subtitle'>Become a VIP—“<i>Verily</i> Important Person”— to get the inside scoop on all things <i>Verily</i>, refer your friends to earn swag, and join an awesome community of women striving to be the best versions of themselves.</h3>
    </div>

    <!-- TEMP -->

    <form action="/launch-list" method="post">
      <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
      <input type="text" name="launch_email" value="" placeholder="EMAIL">
      <input style="width:10%;" type="submit" name="name" value="SUBMIT">
    </form>
    <% if flash[:notice] %>
      <div style="    display: block;
    text-align: center;
    color: blueviolet;
    padding: 10px;"
    class="notice"><%= flash[:notice] %></div>
    <% end %>

    <!-- <div class='signup_forms'>
      <% if Rails.application.config.ended %>
        <%= render "users/campaign_ended" %>
      <% else %>
        <div class='signup_form_wrapper'>
          <% if flash[:notice] %>
            <div class="notice"><%= flash[:notice] %></div>
          <% end %>
          <p class='ready'>Ready to Join?</p>
          <div id='form-wrapper_1' class='<%= "ended" if Rails.application.config.ended %>'>
            <%= render "users/campaign_ongoing" %>
          </div>
        </div>
        <div class='signup_form_wrapper'>
          <p class='ready already'>Already a VIP?</p>
          <div id='form-wrapper_2'>
            <%= render "users/campaign_login" %>
          </div>
        </div>
      <% end %>
    </div> -->
    <div class='find_out_more'>
      <%= link_to "FIND OUT MORE", "faq.html" %>
    </div>
    <div class='visit_verily'>
      <%= link_to "VISIT VERILY", "https://verilymag.com" %>
    </div>
  </div>
</section>
