<section id='main'>
  <div class='verily_logo'>
    <%= image_tag "verily_logo.png" %>
    <p class='vip'>vip</p>
  </div>
  <div class='cover'>
    <div class='text_box'>
      <h1 class='cover-title'>Welcome, Verily Fans!<br/><span class="underline">&nbsp &nbsp</span></h1>
      <h3 class='cover-subtitle'>Become a VIP—“Verily Important Person”— to get the inside scoop on all things Verily, refer your friends to earn beautiful Verily swag, and join an awesome community of women striving to be the best versions of themselves.</h3>
    </div>
    <div class='signup_forms'>
      <% if Rails.application.config.ended %>
        <%= render "users/campaign_ended" %>
      <% else %>
        <div class='signup_form_wrapper'>
          <p class='ready'>Ready to Join?</p>
          <div id='form-wrapper_1' class='<%= "ended" if Rails.application.config.ended %>'>
            <%= render "users/campaign_ongoing" %>
          </div>
        </div>
        <div class='signup_form_wrapper'>
          <p class='ready'>Already a VIP?</p>
          <div id='form-wrapper_2'>
            <%= render "users/campaign_login" %>
          </div>
        </div>
      <% end %>
    </div>
    <div class='find_out_more'>
      <%= link_to "FIND OUT MORE?", "faq.html" %>
    </div>
  </div>
</section>
