<section id="refer">
  <div class='verily_logo'>
    <%= image_tag "verily_logo.png" %>
    <p class='vip'>vip</p>
  </div>
  <div class="hero">
    <div class="share-wrap">
      <p class="title proxima">Invite Your Friends And <br>Earn Rewards!<br><span class="underline">&nbsp &nbsp &nbsp</span></p>
      <p class="subtitle proxima">Your unique share link</p>
      <div class="copy-link"><%= root_url %>?ref=<%= @user.referral_code %></div>

      <%
        referrals_count = @user.referrals.count + @user.subscribers.count

        stops = User::REFERRAL_STEPS

        found = nil

        stops.reverse_each { |stop|
          if stop["count"] <= referrals_count and !found
            stop["selected"] = true
            found = stop
          else
            stop["selected"] = false
          end
        }
      %>

      <%
        words = ''
        if referrals_count == 1
          word1 = 'friend'
          word2 = 'has'
        elsif
          word1 = 'friends'
          word2 = 'have'
        end
      %>

      <% if referrals_count == 0 %>
        <p class="place proxima"><span class="big_blue">No friends</span><br/> have joined yet</p>
      <% else %>
        <p class="place proxima"><span class="big_blue"><%= referrals_count %> <%= word1 %></span><br/> <%= word2 %> joined</p>
      <% end %>

    </div>
  </div>

  <div class="prizes <% if found %>prize-<%= found["class"] %><% end %>">
    <div class="page-content">
      <p class="callout">Get five friends to sign up for our email list using your unique link and you’ll officially be a VIP, which means you’ll have exclusive access to Verily news and opportunities. For every five extra friends who sign up through your unique link, you’ll have the chance to choose one more beautiful Verily gift from these options, below.</p>
      <div class="product_images"><%= image_tag "prizes/tote.png" %><%= image_tag "prizes/dose.png" %><%= image_tag "prizes/mug.png" %><%= image_tag "prizes/notebook.png" %></div>
      <div class="progress-chart">
        <ul class="products">
          <div class="progress">
            <div class="mover">
              <div class="bar"></div>
            </div>
          </div>
          <li class="product proxima"><div class="circle">0</div></li>
          <% stops.each do |stop| %>
            <li class="product proxima <% if stop["selected"] %>selected<% end %> <% if stop["class"] == 'five' %>last<% end %>">
              <div class="circle"><%= stop["count"] %></div><div class="stop_count"><%= stop["html"].html_safe %></div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="buttons">
    <%= link_to "MY ACCOUNT", user_path(@user.id) %>
    <%= link_to "FAQ", "faq.html" %>
  </div>

  <div class="bottom_link">
    <span class="bottom_text">Use your unique link to share Verily via email or social media to earn more rewards.</span>
    <div class="copy-link"><%= root_url %>?ref=<%= @user.referral_code %></div>
  </div>

  <% twitter_message = "Verily Magazine" %>
  <div class="social-links">
    <a href="http://www.facebook.com/sharer/sharer.php?u=<%= CGI::escape(root_url) %>?ref=<%= CGI::escape(@user.referral_code) %>" class="fb" target="_blank"></a>
    <a href="http://twitter.com/share?url=<%= CGI::escape(root_url) %>?ref=<%= CGI::escape(@user.referral_code) %>" class="twit" target="_blank"></a>
    <a href="https://plus.google.com/share?url=<%= root_url %><%= @user.referral_code %>" class="goog" target="_blank"></a>
  </div>
</section>
