<section id="refer">
  <div class='verily_logo refer-logo show-logo'>
    <%= image_tag "verily_logo.png" %>
    <!-- <p class='vip'>vip</p> -->
  </div>
  <div class="hero-ori">
    <div class="share-wrap">
      <p class="title proxima">Invite Your Friends And <br>Earn Rewards!<br><span class="underline">&nbsp &nbsp &nbsp</span></p>
      <p class="subtitle proxima">Your unique share link</p>
      <div class="copy-link"><%= root_url %>?ref=<%= @user.referral_code %></div>

      <%
        referrals_count = @user.referrals.count + @user.subscribers.count

        stops = User::REFERRAL_STEPS

        found = nil

        stops.reverse_each { |stop|
          if stop["count"] <= referrals_count and !found
            stop["selected"] = true
            found = stop
          else
            stop["selected"] = false
          end
        }
      %>

      <%
        words = ''
        if referrals_count == 1
          word1 = 'friend'
          word2 = 'has'
        elsif
          word1 = 'friends'
          word2 = 'have'
        end
      %>

      <div class="social-links">
        <a href="http://www.facebook.com/sharer/sharer.php?u=<%= CGI::escape(root_url) %>?ref=<%= CGI::escape(@user.referral_code) %>" class="fb" target="_blank"></a>
        <a href="http://twitter.com/share?url=<%= CGI::escape(root_url) %>?ref=<%= CGI::escape(@user.referral_code) %>" class="twit" target="_blank"></a>
        <a href="https://plus.google.com/share?url=<%= root_url %><%= @user.referral_code %>" class="goog" target="_blank"></a>
        <a href="mailto:?subject=Have%20you%20heard%20of%20Verily?&body=I%20love%20Verily%20Magazine%20and%20think%20you%20will,%20too.%20Verily%20is%20a%20photoshop-free%20online%20magazine%20starting%20a%20fresh%20and%20empowering%20conversation%20for%20the%20modern%20woman.%20Find%20out%20more%20and%20sign%20up%20to%20their%20mailing%20list%20by%20clicking%20on%20this%20link,%20and%20let%20me%20know%20what%20you%20think!%0D%0D<%= root_url %>?ref=<%= @user.referral_code %>" class="email email-button"></a>
      </div>

      <% if referrals_count == 0 %>
        <p class="place proxima"><span class="big_blue">No friends</span><br/> have joined</p>
      <% else %>
        <p class="place proxima"><span class="big_blue"><%= referrals_count %> <%= word1 %></span><br/> <%= word2 %> joined</p>
      <% end %>


    </div>
  </div>

  <div class="prizes <% if found %>prize-<%= found["class"] %><% end %>">
    <div class="page-content">
      <p class="callout">To become a full-fledged VIP, get five friends to sign up for our email list using your unique link.
      <br><br>VIPs will have access to a secret Facebook group just for you, invites to VIP-only events and opportunities, plus we'll send you a <i>Verily</i> sticker to welcome you on board. Then for every five additional friends who sign up through your unique link, you'll earn another beautiful <i>Verily</i> gift: a tote bag, a journal, and then three small (5" x 5") Daily Dose art prints. We look forward to connecting with you more. Share on!</p>
      <div class="product_images"><%= image_tag "prizes/Swag_sticker.png" %><%= image_tag "prizes/tote.png" %><%= image_tag "prizes/notebook.png" %><%= image_tag "prizes/dose.png" %></div>
      <div class="progress-chart">
        <ul class="products">
          <div class="progress">
            <div class="mover">
              <div class="bar"></div>
            </div>
          </div>
          <li class="product proxima"><div class="circle">0</div></li>
          <% stops.each do |stop| %>
            <li class="product proxima <% if stop["selected"] %>selected<% end %> <% if stop["class"] == 'five' %>last<% end %>">
              <div class="circle"><%= stop["count"] %></div><div class="stop_count"><%= stop["html"].html_safe %></div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="bottom_link">
    <span class="bottom_text">Use your unique share link </span>
    <div class="copy-link"><%= root_url %>?ref=<%= @user.referral_code %></div>
  </div>

  <% twitter_message = "Verily Magazine" %>
  <div class="social-links">
    <a href="http://www.facebook.com/sharer/sharer.php?u=<%= CGI::escape(root_url) %>?ref=<%= CGI::escape(@user.referral_code) %>" class="fb" target="_blank"></a>
    <a href="http://twitter.com/share?url=<%= CGI::escape(root_url) %>?ref=<%= CGI::escape(@user.referral_code) %>" class="twit" target="_blank"></a>
    <a href="https://plus.google.com/share?url=<%= root_url %><%= @user.referral_code %>" class="goog" target="_blank"></a>
    <a href="mailto:?subject=Become%20a%20VIP&body=I%20love%20Verily%20Magazine%20and%20think%20you%20will,%20too.%20Verily%20is%20a%20photoshop-free%20online%20magazine%20starting%20a%20fresh%20and%20empowering%20conversation%20for%20the%20modern%20woman.%20Find%20out%20more%20and%20sign%20up%20to%20their%20mailing%20list%20by%20clicking%20on%20this%20link,%20and%20let%20me%20know%20what%20you%20think!%0D%0D<%= root_url %>?ref=<%= @user.referral_code %>" class="email email-button"></a>
  </div>
</section>
