<section id='show'>
  <div class='verily_logo'>
    <%= image_tag "verily_logo.png" %>
    <p class='vip'>vip</p>
  </div>
  <div class="hero">
    <div class="share-wrap">
      <p class="title proxima">Manage Your Account<br><span class="underline">&nbsp &nbsp &nbsp</span></p>
    </div>
  </div>

  <div class="blue">PERSONAL DETAILS</div>

  <div class="user-details">
    <ul class="user-info">
      <li><%= @user.first_name %> <%= @user.last_name %></li>
      <li><%= @user.street_address %></li>
      <li><%= @user.city %> <%= @user.state %> <%= @user.zip %></li>
      <li><%= @user.email %></li>
    </ul>
  </div>

  <div class="edit-button">
    <%= link_to "EDIT", edit_user_url(@user.id) %>
  </div>

  <!-- <div class="buttons">
    <%= link_to "MY REWARDS", refer_a_friend_url if @user %>
    <%= link_to "FAQ", "../faq.html" %>
  </div> -->

  <div class="blogger-badge">
    <h1>Are you a blogger? Get the VIP Badge for Your Blog</h1>
    <div class='badge'>
      <%= image_tag "verily_logo.png" %>
      <p class='vip'>vip</p>
    </div>
  </div>

  <div class="get-sharing">
    <h1>get sharing!</h1>
  </div>

  <div class="bottom_link">
    <span class="bottom_text">Use your unique link to share Verily via email or social media to earn more rewards.</span>
    <div class="copy-link"><%= root_url %>?ref=<%= @user.referral_code %></div>
  </div>

  <% twitter_message = "Verily Magazine" %>
  <div class="social-links">
    <a href="http://www.facebook.com/sharer/sharer.php?u=<%= CGI::escape(root_url) %>?ref=<%= CGI::escape(@user.referral_code) %>" class="fb" target="_blank"></a>
    <a href="http://twitter.com/share?url=<%= CGI::escape(root_url) %>?ref=<%= CGI::escape(@user.referral_code) %>" class="twit" target="_blank"></a>
    <a href="https://plus.google.com/share?url=<%= root_url %><%= @user.referral_code %>" class="goog" target="_blank"></a>
    <a href="https://www.instagram.com/verilymag/" class="insta" target="_blank"></a>
  </div>
</section>
