<section id='show'>
  <div class='verily_logo'>
    <%= image_tag "verily_logo.png" %>
    <p class='vip'>vip</p>
  </div>
  <div class="hero-ori manage-hero">
    <div class="share-wrap">
      <p class="title proxima manage-subtitle">Manage Your Account<br><span class="underline">&nbsp &nbsp &nbsp</span></p>
    </div>
  </div>

  <div class="blue">PERSONAL DETAILS</div>

  <div class="user-details">
    <ul class="user-info">
      <li><%= @user.first_name %> <%= @user.last_name %></li>
      <li><%= @user.street_address %></li>
      <li><%= @user.city %> <%= @user.state %> <%= @user.zip %></li>
      <li><%= @user.email %></li>
    </ul>
  </div>

  <div class="edit-button">
    <%= link_to "EDIT", edit_user_url(@user.id) %>
  </div>

  <div class="get-sharing">
    <h1>get sharing!</h1>
  </div>

  <div class="bottom_link">
    <span class="bottom_text">Use your unique link to share Verily via email or social media to earn more rewards.</span>
    <div class="copy-link"><%= root_url %>?ref=<%= @user.referral_code %></div>
  </div>

  <% twitter_message = "Verily Magazine" %>
  <div class="social-links">
    <a href="http://www.facebook.com/sharer/sharer.php?u=<%= CGI::escape(root_url) %>?ref=<%= CGI::escape(@user.referral_code) %>" class="fb" target="_blank"></a>
    <a href="http://twitter.com/share?url=<%= CGI::escape(root_url) %>?ref=<%= CGI::escape(@user.referral_code) %>" class="twit" target="_blank"></a>
    <a href="https://plus.google.com/share?url=<%= root_url %><%= @user.referral_code %>" class="goog" target="_blank"></a>
    <a href="mailto:?subject=Become%20a%20VIP&body=I%20love%20Verily%20Magazine%20and%20think%20you%20will,%20too.%20Verily%20is%20a%20photoshop-free%20online%20magazine%20starting%20a%20fresh%20and%20empowering%20conversation%20for%20the%20modern%20woman.%20Find%20out%20more%20and%20sign%20up%20to%20their%20mailing%20list%20by%20clicking%20on%20this%20link,%20and%20let%20me%20know%20what%20you%20think!%0D%0D<%= root_url %>?ref=<%= @user.referral_code %>" class="email email-button"></a>
  </div>

  <div class="blogger-badge">
    <h1>Are you a blogger? Get the VIP Badge for Your Blog</h1>
    <div class="bottom_link">
      <span class="bottom_text">copy the badge code here</span>
      <div class="code-link">
        <code>&lta href="<%= root_url %>?ref=<%= @user.referral_code %>" target="_blank"&gt&ltimg src="http://cl.ly/0m1M3C2F1n11/verilyvip.png" width="125" height="80" border="0" alt="Verily Magazine" /&gt&lt/a&gt</code>
      </div>
    </div>
    <div class='badge'>
      <%= image_tag "verily_logo.png" %>
      <p class='vip'>vip</p>
    </div>
  </div>
</section>
