<section id="refer">
  <a href="/" class='verily_logo swag-logo'>
    <%= image_tag "verily_logo.png" %>
    <!-- <p class='vip'>vip</p> -->
  </a>
  <div class="hero-ori swag-hero">
    <div class="share-wrap">
      <p class="title proxima swag-title">VIP REWARDS</p>

    <div class="">
      <!-- <div class=""><%= image_tag "prizes/tote.png" %><%= image_tag "prizes/dose.png" %><%= image_tag "prizes/logo.png" %><%= image_tag "prizes/notebook.png" %></div> -->
      <div class="product_images swag-products"><%= image_tag "prizes/Swag_sticker.png" %><%= image_tag "prizes/tote.png" %><%= image_tag "prizes/notebook.png" %><%= image_tag "prizes/dose.png" %></div>
      <span class="swag-description">
        To say thank you for sharing <i>Verily</i> with your networks, we'll give you a beautiful gift for every five people who sign up for our email list through your unique link.
      </br>
      </br>
        When you reach five people, you'll become an official VIP, which means that you'll be invited to join our closed Facebook group and have the chance to get to know an awesome community of VIP <i>Verily</i> readers, as well as hearing about all our exclusive VIP news and events.  We'll also send you some <i>Verily</i> stickers so you can get creative decorating your laptop and your phone.
      </br>
      </br>
        Get five more people to join, and we'll send you a lovely "Comparison is the thief of joy" tote bag. Five more, and you'll have earned yourself a hand-made 100% recycled paper pocket notebook (5.5" x 4.25") with a quote by C. S. Lewis on the cover. Five more, and we'll send you a beautiful set of three small (5" x 5") Daily Dose art prints.
      </br>
      </br>
        Unfortunately we can't afford to ship these rewards outside of the USA, but being a VIP is about so much more than these rewards, so we do encourage our international friends to sign up anyway. The <i>Verily</i> VIPs is an uplifting and warm online community, and we've got all kinds of fun events and opportunities planned that you can join in with, wherever in the world you are. So, sign up and start sharing today to get involved!
      </br>
      </br>
      </br>
      </br>
      </span>
    </div>
  </div>


</section>
