<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6 <%= @bodyId %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7 <%= @bodyId %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8 <%= @bodyId %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9 <%= @bodyId %>"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="<%= @bodyId %>"> <!--<![endif]-->
<head>
  <title>Verily Ambassadors</title>
  <link rel="icon" href="<%= asset_path('favicon.ico') %>" type="image/x-icon">
  <link rel="shortcut icon" href="<%= asset_path('favicon.ico') %>" type="image/x-icon">

  <meta property="og:title" content="Verily Ambassadors"/>
  <meta property="og:description" content="Join an awesome community of women striving to be the best version of themselves."/>
  <meta property="og:image" content="<%= asset_path("verily_logo.png") %>"/>
  <meta property="og:url" content="<%= root_url %>"/>
  <% if @is_mobile %>
    <% if @bodyId == 'home' %>
      <meta name="viewport" content="width=1600" />
    <% else %>
      <meta name="viewport" content="width=1120" />
    <% end %>
  <% end %>
  <script src="https://use.typekit.net/fzb3ttp.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body id="<%= @bodyId %>">

  <%= render "layouts/header_nav" %>

  <%= yield %>

</body>
</html>
